.container {
  height: 100vh;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 100%;
  height: 100%;
  max-width: 33rem;
  max-height: 49rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $color-background;
  box-shadow: 0 4px 6px 0 rgba($color-background, 0.7);
  border-radius: 20px;
  padding: 0.625rem;
}
